* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background: rgb(177, 177, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-game {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genius {
    display: grid;
    grid-template-areas: 'verde vermelho' 'amarelo  azul';
    grid-gap: 10px;
    border: 3px solid rgb(255, 255, 255);
    background: snow;
    width: 600px;
    height: 550px;
    border-radius: 100%;
}

.blue {
    background-color: rgb(15, 15, 116);
    grid-area: azul;
    border-bottom-right-radius: 100%;
}

.yellow {
    background-color: rgb(255, 232, 21);
    grid-area: amarelo;
    border-bottom-left-radius: 100%;
}

.green {
    background-color: rgb(67, 133, 54);
    grid-area: verde;
    border-top-left-radius: 100%;
}

.red {
    background-color: rgb(255, 68, 21);
    grid-area: vermelho;
    border-top-right-radius: 100%;
}

.selected {
    opacity: 0.3;
}